<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">HTML과 CSS에서 이런 *발' 소리가 나오게 하는 이유. 흔히 혼란스럽게 하는 HTML과 CSS의 진퇴양난, 실수와 딜레마에 관한 목록.</p>
    <p class="lead"><a href="{{ site.twitter }}">@mdo</a>가 만듦. <a href="{{ site.twitter_snack }}">@Snack_X</a>가 한국어로 번역함.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
